.specials-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.specials-button {
  padding: 1rem 2rem;
  color: var(--color-primary-dark);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.specials-button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

.special-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.special-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.special-title.price {
  color: #e67e22;
  /* font-weight: 900; */
}

.special-text {
  font-size: 1rem;
  font-weight: 300;
}

.special-text.limited {
  max-width: 21rem;
}

.specials-list {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.specials-item {
  flex-basis: calc((100% - 2.5rem) / 3);
}

.special-card {
  padding: 24px;
  border: 1px solid lightgray;
}

.special-card > img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}