@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("./fonts/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("./fonts/poppins-v20-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-light: #f4ce14;
  --color-brand-normal: #495e57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Base */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 2rem 0;
}

.section-title.centered {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 80.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.31;
}
